<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Ajinath</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Good code is its own best documentation. As you're about to add a comment, ask yourself, "How can I improve the code so that this comment isn't needed?" Improve the code and then document it to make it even clearer.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Something About Me</h2>
                <p class="text-white-50">
                    Multi-talented Senior Software Engineer successful completing simultaneous projects. Willing to jump in to develop "outside the box" solutions. Decisive leader and reliable team builder with a results-focused and driven approach. Motivated Senior Software
                    Engineer highly effective at developing new programs and fixing problems with existing systems. Proficient in English and Agile/Scrum methodology.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="assets/img/ipad.png" alt="" />
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Skills</h4>
                    <p class="text-black-50 mb-0">
                        Improved system performance by making proactive adjustments and resolving bugs. Revised, modularized and updated old code bases to modern development standards, reducing operating costs and improving functionality.Collaborated with cross-functional development
                        team members to analyze potential system solutions based on evolving client requirements. Discussed project progress with customers, collected feedback on different stages and directly addressed concerns. Designed and developed
                        forward-thinking systems that meet user needs and improve productivity.
                    </p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Skills</h4>
                            <p class="mb-0 text-white-50">Suggested improvements to team and project workflow. Contributed ideas and suggestions in team meetings and delivered updates on deadlines, designs and enhancements. Consulted with engineering team members to determine system
                                loads and develop improvement plans. Reviewed code and worked with development teams to correct problems, run test scenarios and prepare for deployment. Estimated work hours and tracked progress using Scrum methodology.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Skills</h4>
                            <p class="mb-0 text-white-50">Trained and mentored junior developers and engineers, teaching skills in HTML/CSS, OOPs concepts, core JAVA concepts, Node js and working to improve overall team performance. Gathered and defined customer requirements to develop
                                clear specifications for project plans. Worked with project managers, developers, quality assurance and customers to resolve technical issues. </p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<!-- <section class="signup-section" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                <form class="form-inline d-flex">
                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." />
                    <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section> -->
<!-- Contact-->
<section class="contact-section bg-black" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">flat number A-304, bon vivant, keshav nagar, Mundhwa, Pune, Maharashtra 411036</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a href="#!">avin2221992@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">+91 9595356352</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" target="_blank" href="https://twitter.com/Ajinath19"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" target="_blank" href="https://m.facebook.com/ajinath.ghodake.5"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" target="_blank" href="https://www.linkedin.com/in/ajinath-ghodake"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>